.about {
	padding-bottom: 84px;
	background-color: #e0e0e0;
}
.about-div {
	padding: 0 10px;
	@include flex(col, true, false) ;
}
.about-title {
	font-weight: 600;
	font-size: 24px;
	line-height: 333%;
	color: getColor(dark);
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 24px;
	text-align: center;

	&::after{
		content: '';
		display: block;
		width: 283px;
		height: 283px;
		background-image: url(../svg/about-us-sm.svg);
		background-color: rgb(205, 237, 255);
		border-radius: 10px;
	}
}
.about-text {
	font-weight: 400;
	font-size: 13px;
	text-align: center;
	color: getColor(secondary);
	margin-bottom: 26px;
}
.about-list {
	@include flex(col, true, false) ;
	gap: 25px;
}
.about-item {
	@include flex(col, true, false) ;
}
.about-number {
	font-weight: 600;
	font-size: 24px;
	color: getColor(primary);
}
.about-description {
	font-weight: 400;
	font-size: 15px;
	color: getColor(secondary);
}
@include media(md) {
	.about {
		padding-bottom: 130px;
	}
	.about-title {
		font-size: 30px;
		line-height: 267%;
		text-align: center;
		
		&::after{
			content: '';
			display: block;
			width: 352px;
			height: 352px;
			background-image: url(../svg/about-us-md.svg);
		}
	}
	.about-text {
		font-size: 14px;
	}
	.about-list {
		width: 425px;
		flex-direction: row;
		justify-content: space-between;
	}
}
@include media(lg) {
	.about {
		padding-bottom: 88px;
	}
	.about-div {
		align-items: normal;
		position: relative;
	}
	.about-title{
		text-align: left;

		&::after{
			content: '';
			display: block;
			width: 295px;
			height: 295px;
			background-image: url(../svg/about-us-lg.svg);
			
			position: absolute;
			top: 36px;
			right: 35px;
		}
	}
	.about-text {
		text-align: left;
		max-width: 320px;
	}
	.about-list {
		width: 320px;
	}
}
@include media(xl) {
	.about {
		padding-bottom: 100px;
	}
	.about-title {
		font-size: 36px;
		line-height: 222%;
		&::after{
			content: '';
			display: block;
			width: 336px;
			height: 336px;
			background-image: url(../svg/about-us-xl.svg);
		}
	}
	.about-text {
		font-size: 16px;
		max-width: 530px;
	}
	.about-list {
		width: 400px;
	}
	.about-number {
		font-size: 30px;
	}
	.about-description {
		font-size: 16px;
	}
}
@include media(xxl) {
	.about {
		padding-bottom: 188px;
	}
	.about-title {
		font-size: 48px;
		line-height: 167%;
		margin-bottom: 23px;
		&::after{
			content: '';
			display: block;
			width: 500px;
			height: 500px;
			background-image: url(../svg/about-us-xxl.svg);

			top: 0;
		}
	}
	.about-text {
		font-size: 20px;
		margin-bottom: 42px;
	}
	.about-list {
		width: 600px;
	}
	.about-number {
		font-size: 48px;
	}
	.about-description {
		font-weight: 400;
		font-size: 20px;
	}
}
